{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>App Registration</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}

        <button type="submit">Register</button>
    {{ form_end(form) }}
{% endblock %}
