<form action="{{ url('app_comments_responses_delete', {id: commentResponse.id}) }}" method="post">
    <input type="hidden" name="token" value="{{ csrf_token('delete') }}" />
    <button type="submit">Delete</button>
</form>