{% extends 'base.html.twig' %}

{% block title %}Change password{% endblock %}

{% block body %}>
    <h1>Change password</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}

        <button type="submit">Change password</button>
    {{ form_end(form) }}
{% endblock %}