{% extends 'base.html.twig' %}

{% block title %}Comment form error{% endblock %}

{% block body %}
    <h1>Comment error message</h1>

    {{ include('comments_responses/_form.html.twig') }}
{% endblock %}

