@import "~bootswatch/dist/lumen/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/lumen/bootswatch";

@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~@fortawesome/fontawesome-free/css/v4-shims.min.css";



// =============== PAGE ELEMENTS ============== //

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.article-metadata {
  color: $gray-600;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 25px;
}
.article-metadata .metadata {
  margin-right: 1.5em;
  font-weight: 600;
}

.article-tags .label {
  margin-right: 5px;
}

.article-tags .label-default {
  background-color: #e9ecec;
  color: #6D8283;
  font-size: 16px;
  margin-right: 10px;
  padding: .4em 1em .5em;
  border-radius: 4px;
  text-decoration: none;
}

.article-tags .label-success {
  background-color: $blue;
  color: $white;
  font-size: 16px;
  margin-right: 10px;
  padding: .4em 1em .5em;
  border-radius: 4px;
  text-decoration: none;
}

.article-tags .label-default i {
  color: #95A6A7;
}

a.nav-link {
  font-size: 20px;
}

.author-profile {
  border-radius: 50%;
  display: inline;
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 10px;
}

.inline-photo {
  border: 1em solid #fff;
  //border-bottom: 2em solid #fff;
  border-radius: .25em;
  box-shadow: .5em .5em 2em .25em rgba(0,0,0,.2);
  opacity: 0;
  transform: translateY(4em);
  transition: transform 4s .25s cubic-bezier(0,1,.3,1), opacity .3s .25s ease-out;
  max-width: 100%;
  width: 100%;
  will-change: transform, opacity;
}

.inline-photo.is-visible {
  opacity: 1;
  transform: rotateZ(0deg);
}

.zoom img:hover{
  transform: scale(1.045);
  opacity: .9;
}
.zoom img {
  transition: all 2000ms;
}
