{% extends 'admin/layout.html.twig' %}

{% block admin_title %}Category Creation{% endblock %}

{% block body %}
    <h1>Admin Category Creation Page</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}

        <button type="submit">Create</button>
    {{ form_end(form) }}

{% endblock %}
