{% if not article.tags.empty %}
    <p class="article-tags">
        {% for tag in article.tags %}
            <a href="{{ path('app_articles_index',
                {'tag': tag.name == app.request.query.get('tag') ? null : tag.name}) }}"
                class="label label-{{ tag.name == app.request.query.get('tag') ? 'success' : 'default' }}"
            >
                <i class="fa fa-tag"></i> {{ tag.name }}
            </a>
        {% endfor %}
    </p>
{% endif %}