<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Your account has been activated</title>
</head>
<body>
    <h1>Your account has been activated</h1>
    <p>Congratulations! Your account has been activated successfully.</p>
    <p><a href="{{ absolute_url(path('app_home')) }}" title="Access the application">Access the application</a></p>
</body>
</html>